<section id="footer" class="footer">
        <div class=" d-flex justify-content-center text-white">
            <i class="icon fa-brands fa-facebook-f p-3 m-2 rounded rounded-circle"></i>
            <i class="icon fa-brands fa-twitter p-3 m-2 rounded rounded-circle"></i>
            <i class="icon icon fa-brands fa-youtube p-3 m-2 rounded rounded-circle"></i>
            <i class="icon fa-solid fa-phone p-3 m-2 rounded rounded-circle"></i>
            <i class="icon fa-brands fa-instagram p-3 m-2 rounded rounded-circle"></i>
        </div>
        <div class=" d-flex justify-content-center align-items-center flex-column">
            <img src="./assets/media/bakery-light-1.png" class="mb-4" alt="logo">
            <div class=" d-flex justify-content-center">
                <h5>Address: 60 Wall Street, New York, NY  10018 US </h5>
                <span class="ms-2 me-2"> | </span>
                <h5> Phone: (708) 123-4567 </h5>
                <span class="ms-2 me-2"> | </span>
                <h5>Opening Hours: Mon – Sat: 8:00 – 20:00</h5>

            </div>
            <p class="pt-lg-4 pt-md-0">Copyright © 2015-2018 Bakery WordPress Theme by Milingona.</p>

        </div>


</section>
