<section class="main-service p-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-column text-center">
            <h3>
                <span> MAIN SERVICES WE PROVIDE </span>
             </h3>
             <p class="text-muted ">
                 Our services are the best in town, we provide great quality baked products
             </p>
             <div class="w-100 m-auto pt-5">
                 <div class="row">

                     <div class="col-lg-3 col-md-6 col-sm-12">

                        <div class="text-center">
                            <div class="icon mb-4">
                                <i class="fa-solid fa-utensils text-white text-center"></i>

                            </div>
                            <h4 class=" fs-6">TOP CHEFS
                            </h4>
                            <p class="text-muted ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                         </div>
                         <div class="col-lg-3 col-md-6 col-sm-12">

                            <div class="text-center">
                                <div class="icon mb-4">
                                    <i class="fa-solid fa-pizza-slice text-white text-center"></i>
    
                                </div>
                                <h4 class=" fs-6">PROFESSIONAL
                                </h4>
                                <p class="text-muted ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                             </div>
                             <div class="col-lg-3 col-md-6 col-sm-12">

                                <div class="text-center">
                                    <div class="icon mb-4">
                                        <i class="fa-solid fa-cookie text-white text-center"></i>
        
                                    </div>
                                    <h4 class=" fs-6">FRESH INGREDIENTS
                                    </h4>
                                    <p class="text-muted ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                                 </div>
                                 <div class="col-lg-3 col-md-6 col-sm-12">

                                    <div class="text-center">
                                        <div class="icon mb-4">
                                            <i class="fa-solid fa-stroopwafel text-white text-center"></i>
            
                                        </div>
                                        <h4 class=" fs-6">ATTRACTIVE FLAVORS
                                        </h4>
                                        <p class="text-muted ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    </div>
                                     </div>
                 </div>
     
             </div>
        </div>
     
    </div>
</section>

<section id="about" class="p-5">
    <div class="container">
        <div class="row ">
            <div class="col-md-5 col-sm-12 m-0">
                <img class="" src="./assets/media/img-6.jpg">
            </div>
            <div class="col-md-7 col-sm-12 content m-0 p-0">
                <div class="container">
                    <div class="d-flex flex-column align-items-start pt-5 pb-5 ">
                        <h3>
                            <span> OUR BAKERY </span>
                         </h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt., neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                        <p>Consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <button class="btn">Read More</button>
    
                    </div>
                </div>
               
               
        </div>
    
</div>
    </div>
    


</section>
<section >
    <div class="slider m-0 p-0">   

        <owl-carousel-o [options]="slider">
          <ng-template carouselSlide><img  src="./assets/media/img-1.jpg" alt="mainslider"></ng-template>  
          <ng-template carouselSlide><img  src="./assets/media/img-3.jpg" alt="mainslider"></ng-template>  
          <ng-template carouselSlide><img  src="./assets/media/img-5.jpg" alt="mainslider"></ng-template>  
          <ng-template carouselSlide><img  src="./assets/media/img-12.jpg" alt="mainslider"></ng-template>  
          <ng-template carouselSlide><img  src="./assets/media/img-17.jpg" alt="mainslider"></ng-template>  
          <ng-template carouselSlide><img  src="./assets/media/img-18.jpg" alt="mainslider"></ng-template> 
          <ng-template carouselSlide><img  src="./assets/media/img-12.jpg" alt="mainslider"></ng-template>  
          <ng-template carouselSlide><img  src="./assets/media/img-17.jpg" alt="mainslider"></ng-template>  
          <ng-template carouselSlide><img  src="./assets/media/img-18.jpg" alt="mainslider"></ng-template>  
        </owl-carousel-o>
        </div>
    </section>