
<section id="contact" class="p-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-column mb-3">
            <h3 class="w-100 text-center">
                <span> OUR LOCATIONS </span>
             </h3>
             <p class="text-muted text-center w-100">
                As your neighborhood bakery, we're always there.
             </p>
        </div>
        <div class="pt-4">
            <owl-carousel-o [options]="contactOptions">
                <ng-template carouselSlide>
                    <div class="bg-white d-flex justify-content-start flex-column p-5 m-5">
                        <p class="p-2">Morristown</p>
                        <p class="p-2"><i class="fa-solid fa-location-dot"></i> 40 Market Street New Jersey 11968</p>
                        <p class="p-2"><i class="fa-solid fa-phone"></i> 631 204 1701</p>
                    </div>
    
               </ng-template>  
               <ng-template carouselSlide>
                <div class="bg-white d-flex justify-content-start flex-column p-5 m-5">
                    <p class="p-2">Morristown</p>
                    <p class="p-2"><i class="fa-solid fa-location-dot"></i> 40 Market Street New Jersey 11968</p>
                    <p class="p-2"><i class="fa-solid fa-phone"></i> 631 204 1701</p>
                </div>

           </ng-template>  
                <ng-template carouselSlide>
                    <div class="bg-white d-flex justify-content-start flex-column p-5 m-5">
                        <p class="p-2">Morristown</p>
                        <p class="p-2"><i class="fa-solid fa-location-dot"></i> 40 Market Street New Jersey 11968</p>
                        <p class="p-2"><i class="fa-solid fa-phone"></i> 631 204 1701</p>
                    </div>
    
               </ng-template>  
  
               <ng-template carouselSlide>
                <div class="bg-white d-flex justify-content-start flex-column p-5 m-5">
                    <p class="p-2">Morristown</p>
                    <p class="p-2 "><i class="fa-solid fa-location-dot"></i> 40 Market Street New Jersey 11968</p>
                    <p class="p-2"><i class="fa-solid fa-phone"></i> 631 204 1701</p>
                </div>

           </ng-template>     
           <ng-template carouselSlide>
            <div class="bg-white d-flex justify-content-start flex-column p-5 m-5">
                <p class="p-2">Morristown</p>
                <p class="p-2"><i class="fa-solid fa-location-dot"></i> 40 Market Street New Jersey 11968</p>
                <p class="p-2"><i class="fa-solid fa-phone"></i> 631 204 1701</p>
            </div>

       </ng-template>        
       <ng-template carouselSlide>
        <div class="bg-white d-flex justify-content-start flex-column p-5 m-5">
            <p class="p-2">Morristown</p>
            <p class="p-2"><i class="fa-solid fa-location-dot"></i> 40 Market Street New Jersey 11968</p>
            <p class="p-2"><i class="fa-solid fa-phone"></i> 631 204 1701</p>
        </div>

   </ng-template>                
              </owl-carousel-o>
        </div>
      
       
    </div>
</section>
<section class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <h5 class="text-muted ">CONTACT US DIRECTLY</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
                <p class="p-2"><i class="fa-solid fa-phone pe-2"></i> 631 204 1701</p>
                <p class="p-2"><i class="fa-solid fa-location-dot pe-2"></i> 40 Market Street New Jersey 11968</p>
                <p class="p-2"><i class="fa-regular fa-envelope pe-2"></i> info@yourdomain.com</p>
                <h5>Follow Us</h5>
                <div class=" d-flex justify-content-start pt-2 text-white">
                    <i class="icon fa-brands fa-facebook-f m-2 p-2 rounded rounded-circle"></i>
                    <i class="icon fa-brands fa-twitter m-2 p-2 rounded rounded-circle"></i>
                    <i class="icon icon fa-brands fa-youtube p-2 m-2 rounded rounded-circle"></i>
                    <i class="icon fa-brands fa-instagram p-2 m-2 rounded rounded-circle"></i>
                </div>

            </div>
            <div class="col-md-7 col-sm-12">
                <h5 class="text-muted">Leave Us A Message</h5>
                <div class="row g-4 pt-3">
                    <div class="col-md-6 col-sm-12">
                        <input type="text" class="form-control" id="firstname" placeholder="First Name">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <input type="tel" class="form-control" id="phone" placeholder="Phone">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                   
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                          </div>
                    </div>
        
                  </div>
                  
                  <button class="btn">Send Message</button>
            
            </div>
        </div>

      
</div>
</section>