<section id="product" class="p-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="d-flex justify-content-center"data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                    <img class="img-fluid" src="./assets/media/product-2.jpg">
                </div>
                <h5 class="mt-4">CHOCOLATE TARTS</h5>
                <h6 class="">$ 13.50</h6>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="@fat">
                    <img class="img-fluid" src="./assets/media/product-6.jpg">
                </div>
                <h5 class="mt-4">CROISSANT</h5>
                <h6 class="">$ 3.50</h6>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="d-flex justify-content-center"data-bs-toggle="modal" data-bs-target="#exampleModal3" data-bs-whatever="@getbootstrap">
                    <img class="img-fluid" src="./assets/media/product-3.jpg">
                </div>
                <h5 class="mt-4">CAPP. CHEESECAKE</h5>
                <h6 class="">$ 23.50</h6>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="d-flex justify-content-center"data-bs-toggle="modal" data-bs-target="#exampleModal4" data-bs-whatever="@getbootstrap">
                    <img class="img-fluid" src="./assets/media/product-13.jpg">
                </div>
                <h5 class="mt-4">CROISSANT</h5>
                <h6 class="">$ 3.50</h6>
            </div> 
            <div class="col-md-3 col-sm-6 text-center">
                <div class="d-flex justify-content-center"data-bs-toggle="modal" data-bs-target="#exampleModal5" data-bs-whatever="@mdo">
                    <img class="img-fluid" src="./assets/media/product-8.jpg">
                </div>
                <h5 class="mt-4">CROISSANT</h5>
                <h6 class="">$ 3.50</h6>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal6" data-bs-whatever="@fat">
                    <img class="img-fluid" src="./assets/media/product-7.jpg">
                </div>
                <h5 class="mt-4">CROISSANT</h5>
                <h6 class="">$ 3.50</h6>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="d-flex justify-content-center"data-bs-toggle="modal" data-bs-target="#exampleModal7" data-bs-whatever="@getbootstrap">
                    <img class="img-fluid" src="./assets/media/product-14.jpg">
                </div>
                <h5 class="mt-4">CROISSANT</h5>
                <h6 class="">$ 3.50</h6>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="d-flex justify-content-center"data-bs-toggle="modal" data-bs-target="#exampleModal8" data-bs-whatever="@getbootstrap">
                    <img class="img-fluid" src="./assets/media/product-12.jpg">
                </div>
                <h5 class="mt-4">CROISSANT</h5>
                <h6 class="">$ 3.50</h6>
            </div>  
            <div class="col-md-3 col-sm-6 text-center">
              <div class="d-flex justify-content-center"data-bs-toggle="modal" data-bs-target="#exampleModal9" data-bs-whatever="@mdo">
                  <img class="img-fluid" src="./assets/media/product-2.jpg">
              </div>
              <h5 class="mt-4">CHOCOLATE TARTS</h5>
              <h6 class="">$ 13.50</h6>
          </div>
          <div class="col-md-3 col-sm-6 text-center">
              <div class="d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal10" data-bs-whatever="@fat">
                  <img class="img-fluid" src="./assets/media/product-6.jpg">
              </div>
              <h5 class="mt-4">CROISSANT</h5>
              <h6 class="">$ 3.50</h6>
          </div>
          <div class="col-md-3 col-sm-6 text-center">
              <div class="d-flex justify-content-center"data-bs-toggle="modal" data-bs-target="#exampleModal11" data-bs-whatever="@getbootstrap">
                  <img class="img-fluid" src="./assets/media/product-3.jpg">
              </div>
              <h5 class="mt-4">CAPP. CHEESECAKE</h5>
              <h6 class="">$ 23.50</h6>
          </div>
          <div class="col-md-3 col-sm-6 text-center">
              <div class="d-flex justify-content-center"data-bs-toggle="modal" data-bs-target="#exampleModal12" data-bs-whatever="@getbootstrap">
                  <img class="img-fluid" src="./assets/media/product-13.jpg">
              </div>
              <h5 class="mt-4">CROISSANT</h5>
              <h6 class="">$ 3.50</h6>
          </div>     
          <div class="col-md-3 col-sm-6 text-center">
            <div class="d-flex justify-content-center"data-bs-toggle="modal" data-bs-target="#exampleModal13" data-bs-whatever="@mdo">
                <img class="img-fluid" src="./assets/media/product-8.jpg">
            </div>
            <h5 class="mt-4">CROISSANT</h5>
            <h6 class="">$ 3.50</h6>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <div class="d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal14" data-bs-whatever="@fat">
                <img class="img-fluid" src="./assets/media/product-7.jpg">
            </div>
            <h5 class="mt-4">CROISSANT</h5>
            <h6 class="">$ 3.50</h6>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <div class="d-flex justify-content-center"data-bs-toggle="modal" data-bs-target="#exampleModal15" data-bs-whatever="@getbootstrap">
                <img class="img-fluid" src="./assets/media/product-14.jpg">
            </div>
            <h5 class="mt-4">CROISSANT</h5>
            <h6 class="">$ 3.50</h6>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <div class="d-flex justify-content-center"data-bs-toggle="modal" data-bs-target="#exampleModal16" data-bs-whatever="@getbootstrap">
                <img class="img-fluid" src="./assets/media/product-12.jpg">
            </div>
            <h5 class="mt-4">CROISSANT</h5>
            <h6 class="">$ 3.50</h6>
        </div>        
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="./assets/media/product-2.jpg">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img class="img-fluid" src="./assets/media/product-6.jpg">
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img class="img-fluid" src="./assets/media/product-3.jpg">
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img class="img-fluid" src="./assets/media/product-13.jpg">
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img class="img-fluid " src="./assets/media/product-8.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img class="img-fluid" src="./assets/media/product-7.jpg">
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img class="img-fluid" src="./assets/media/product-14.jpg">
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img class="img-fluid" src="./assets/media/product-12.jpg">
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img class="img-fluid" src="./assets/media/product-2.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img class="img-fluid" src="./assets/media/product-6.jpg">
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img class="img-fluid" src="./assets/media/product-3.jpg">
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img class="img-fluid" src="./assets/media/product-13.jpg">
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img class="img-fluid " src="./assets/media/product-8.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal14" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img class="img-fluid" src="./assets/media/product-7.jpg">
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="exampleModal15" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img class="img-fluid" src="./assets/media/product-14.jpg">
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="exampleModal16" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img class="img-fluid" src="./assets/media/product-12.jpg">
          </div>
        </div>
      </div>
  </div>