<section id="home" class="home">
    <div class="slider"> 
        <div class="text-center text-white item slide1 d-flex justify-content-center p-5">
            <div class="content caption d-flex justify-content-center flex-column align-items-center p-5">
                <h2 class="mt-4 mb-4 animate__animated animate__fadeInDown animate__delay-2s">Welcome To</h2>
                <h4 class="mb-4 animate__animated animate__fadeIn animate__delay-3s">Bakery Catalog Demo </h4>
                <p class="text-center animate__animated animate__fadeInUp animate__delay-4s ">We are a unique bakery of square confections. We take pride in using natural ingredients and baking our cupcakes, cakes, and desserts. </p>
            </div>
                  </div>
    </div>
</section>
<section id="offer" class="p-5">
    <div class="container">
      <div class="section-head text-center mt-5">
        <h3>
          <span> WHAT WE OFFER FOR YOU</span> 
        </h3>
      </div>
<!-- start nav tabs-->
    <ul class="nav nav-pills mb-3 d-flex justify-content-center align-items-center" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-All-tab" data-bs-toggle="pill" data-bs-target="#pills-All" type="button" role="tab" aria-controls="pills-home" aria-selected="true">All</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-Breads-tab" data-bs-toggle="pill" data-bs-target="#pills-Breads" type="button" role="tab" aria-controls="pills-Breads" aria-selected="false">Breads</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-Cakes-tab" data-bs-toggle="pill" data-bs-target="#pills-Cakes" type="button" role="tab" aria-controls="pills-Cakes" aria-selected="false">Cakes</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-Cookies-tab" data-bs-toggle="pill" data-bs-target="#pills-Cookies" type="button" role="tab" aria-controls="pills-Cookies" aria-selected="false">Cookies</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-Pastries-tab" data-bs-toggle="pill" data-bs-target="#pills-Pastries" type="button" role="tab" aria-controls="pills-Pastries" aria-selected="false">Pastries</button>
      </li>
    
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-All" role="tabpanel" aria-labelledby="pills-All-tab" tabindex="0">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row g-md-4 ">
                        <div class="col-xl-3 col-md-5">
                            <img class="rounded rounded-circle mb-sm-2" src="./assets/media/product-1-150x150.jpg" alt="product">
                        </div>
                        <div class="col-xl-8 col-md-7">
    
                            <h4>Amaretti Cookie</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            <span class="mb-sm-2">$ 13.50</span>
                        </div>
                    <div class="col-xl-3 col-md-5">
                        <img class="rounded rounded-circle" src="./assets/media/product-3-300x300.jpg" alt="product">
                    </div>
                    <div class="col-xl-8 col-md-7">
                        <h4>Maple Oat Muffin</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <span>$ 13.50</span>
                    </div>
               
                    <div class="col-xl-3 col-md-5">
                        <img class="rounded rounded-circle" src="./assets/media/product-4-150x150.jpg" alt="product">
                    </div>
                    <div class="col-xl-8 col-md-7">
                        <h4>Black forest</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <span>$ 13.50</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row g-md-4">
                    <div class="col-xl-3 col-md-5">
                        <img class="rounded rounded-circle" src="./assets/media/product-5-150x150.jpg" alt="product">
                    </div>
                    <div class="col-xl-8 col-md-7">
                        <h4>Croissant</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <span>$ 13.50</span>
                    </div>
                    <div class="col-xl-3 col-md-5">
                        <img class="rounded rounded-circle" src="./assets/media/product-6-300x300.jpg" alt="product">
                    </div>
                    <div class="col-xl-8 col-md-7">
                        <h4>Sourdough</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <span>$ 13.50</span>
                    </div>
                    <div class="col-xl-3 col-md-5">
                        <img class="rounded rounded-circle" src="./assets/media/product-7-150x150.jpg" alt="product">
                    </div>
                    <div class="col-xl-8 col-md-7">
                        <h4>Ciabatta</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <span>$ 13.50</span>
                    </div>
                </div>
            </div>
        

        </div>
      </div>
      <div class="tab-pane fade" id="pills-Breads" role="tabpanel" aria-labelledby="pills-Breads-tab" tabindex="0"> 
        <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-xl-3 col-md-5">
                        <img class="rounded rounded-circle" src="./assets/media/product-6-300x300.jpg" alt="product">
                    </div>
                    <div class="col-xl-8 col-md-7">
                        <h4>Sourdough</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <span>$ 13.50</span>
                    </div>
                </div>
               
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-xl-3 col-md-5">
                        <img class="rounded rounded-circle" src="./assets/media/product-7-150x150.jpg" alt="product">
                    </div>
                    <div class="col-xl-8 col-md-7">
                        <h4>Ciabatta</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <span>$ 13.50</span>
                    </div>
                </div>
                
            </div>
          
        </div>
      </div>
      <div class="tab-pane fade" id="pills-Cakes" role="tabpanel" aria-labelledby="pills-Cakes-tab" tabindex="0">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-xl-3 col-md-5">
                        <img class="rounded rounded-circle" src="./assets/media/product-4-150x150.jpg" alt="product">
                    </div>
                    <div class="col-xl-8 col-md-7">
                        <h4>Black forest</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <span>$ 13.50</span>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="tab-pane fade" id="pills-Cookies" role="tabpanel" aria-labelledby="pills-Cookies-tab" tabindex="0">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-xl-3 col-md-5">
                        <img class="rounded rounded-circle" src="./assets/media/product-1-150x150.jpg" alt="product">
                    </div>
                    <div class="col-xl-8 col-md-7">
                        <h4>Black forest</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <span>$ 13.50</span>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="tab-pane fade" id="pills-Pastries" role="tabpanel" aria-labelledby="pills-Pastries-tab" tabindex="0">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-xl-3 col-md-5">
                        <img class="rounded rounded-circle" src="./assets/media/product-6-300x300.jpg" alt="product">
                    </div>
                    <div class="col-xl-8 col-md-7 ">
                        <h4>Black forest</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <span>$ 13.50</span>
                    </div>
                </div>
            </div>
          </div>
      </div>
 
     
    </div>
    <div class="d-flex justify-content-center mt-5">
        <button class="btn">View All Products</button>

    </div>
</div>
</section>

